# any archived item
**/_archive

# .DS_Store - Mac-specific hidden file used by Finder
**/.DS_Store

# geospatial data
data/01-raw/geospatial 

# Large data files
data/03-processed/sci-cldalb-1996-2019.nc


# Hide Chris Still's data until we get permission to host it 
data/01-raw/met-station/still-lab

# Hide communications associated with the project
communications

# Others
**/.Rhistory
